<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Provide support for component scanning -->
	<context:component-scan
		base-package="boomlet.web.controller" />
	<context:component-scan
		base-package="boomlet.web.service" />
	<!--Provide support for conversion, formatting and validation -->
	<mvc:annotation-driven />
	<!-- Define Spring MVC view resolver -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />			
		<property name="url"
			value="jdbc:mysql://localhost:3306/boomlet?serverTimezone=Asia/Kolkata" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds"></property>
	</bean>

	<bean id="userdao" class="boomlet.app.daoimpl.UserImpl">
		<property name="template" ref="jt"></property>
	</bean>
	
	<bean id="userTokendao" class="boomlet.app.daoimpl.UserTokenImpl">
		<property name="template" ref="jt"></property>
	</bean>
			
	<bean id="influncerdao" class="boomlet.app.daoimpl.InfluancerImpl">
		<property name="template" ref="jt"></property>
	</bean>
	
	<bean id="linkedindao" class="boomlet.app.daoimpl.LinkedImpl">
		<property name="template" ref="jt"></property>
	</bean>
	
	<bean id="instagramdao" class="boomlet.app.daoimpl.InstagramImpl">
		<property name="template" ref="jt"></property>
	</bean>
	
	<bean id="blogdao" class="boomlet.app.daoimpl.BlogImpl">
		<property name="template" ref="jt"></property>
	</bean>
	
	<bean id="twitterdao" class="boomlet.app.daoimpl.TwiterImpl">
		<property name="template" ref="jt"></property>
	</bean>
	
	<bean id="facebookdao" class="boomlet.app.daoimpl.FacebookImpl">
		<property name="template" ref="jt"></property>
	</bean>
	
	<bean id="tiktokdao" class="boomlet.app.daoimpl.TiktokImpl">
		<property name="template" ref="jt"></property>
	</bean>
	
	<bean id="youtubedao" class="boomlet.app.daoimpl.YoutubeImpl">
		<property name="template" ref="jt"></property>
	</bean>
	
	<bean id="proposaldao" class="boomlet.app.daoimpl.ProposalImpl">
		<property name="template" ref="jt"></property>
	</bean>
	
	<bean id="updateInfluencerdao" class="boomlet.app.daoimpl.UpdateInfluencerImpl">
		<property name="template" ref="jt"></property>
	</bean>

</beans>  